# DataFrame的创建

In [23]:
import pandas as pd

## 通过Series创建DataFrame

In [27]:
id_dict = {'Alex': 1, 'Bob': 2, 'Calvin': 3, 'Dick': 4, 'Elbert': 5}
id = pd.Series(id_dict)
age_dict={'Alex': 18, 'Bob': 19, 'Calvin': 20, 'Dick': 21, 'Elbert': 22}
age = pd.Series(age_dict)
# 通过series创建df
dfBySeries = pd.DataFrame({'id': id,'age': age})
dfBySeries

        id  age
Alex     1   18
Bob      2   19
Calvin   3   20
Dick     4   21
Elbert   5   22

## 通过字典创建DataFrame

In [29]:
id_dict = {'Alex': 1, 'Bob': 2, 'Calvin': 3, 'Dick': 4, 'Elbert': 5}
age_dict={'Alex': 18, 'Bob': 19, 'Calvin': 20, 'Dick': 21, 'Elbert': 22}
# 通过字典创建df
dfByDict = pd.DataFrame({'id': id_dict,'age': age_dict})
dfByDict

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Alex to Elbert
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      int64
 1   age     5 non-null      int64
dtypes: int64(2)
memory usage: 120.0+ bytes