In [1]:
import pandas as pd

In [6]:
id_dict = {'Alex': 1, 'Bob': 2, 'Calvin': 3, 'Dick': 4, 'Elbert': 5}
id = pd.Series(id_dict)
id

Alex      1
Bob       2
Calvin    3
Dick      4
Elbert    5
dtype: int64

In [7]:
age_dict={'Alex': 18, 'Bob': 19, 'Calvin': 20, 'Dick': 21, 'Elbert': 22}
age = pd.Series(age_dict)
age

Alex      18
Bob       19
Calvin    20
Dick      21
Elbert    22
dtype: int64

In [9]:
df = pd.DataFrame({'id': id,'age': age})
df

        id  age
Alex     1   18
Bob      2   19
Calvin   3   20
Dick     4   21
Elbert   5   22

In [10]:
df.head(5)

        id  age
Alex     1   18
Bob      2   19
Calvin   3   20
Dick     4   21
Elbert   5   22

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Alex to Elbert
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      int64
 1   age     5 non-null      int64
dtypes: int64(2)
memory usage: 292.0+ bytes