In [30]:
import pandas as pd

In [31]:
id_dict = {'Alex': 1, 'Bob': 2, 'Calvin': 3, 'Dick': 4, 'Elbert': 5}
age_dict={'Alex': 18, 'Bob': 19, 'Calvin': 20, 'Dick': 21, 'Elbert': 22}
gender_dict={'Alex': 'M', 'Blob': 'M', 'Calvin':'M', 'Dick':'M', 'Elbert':'M'}
# 创建DataFrame
df = pd.DataFrame({'id': id_dict,'age': age_dict, 'gender': gender_dict})
print(df)

         id   age gender
Alex    1.0  18.0      M
Bob     2.0  19.0    NaN
Calvin  3.0  20.0      M
Dick    4.0  21.0      M
Elbert  5.0  22.0      M
Blob    NaN   NaN      M

In [32]:
# 索引为Alex到Elbert
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Alex to Blob
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      float64
 1   age     5 non-null      float64
 2   gender  5 non-null      object
dtypes: float64(2), object(1)
memory usage: 192.0+ bytes
None

## 选择行

In [33]:
# 选择单行
df.loc['Alex']

id         1.0
age       18.0
gender       M
Name: Alex, dtype: object

In [34]:
# 选择多行，选择Alex到Calvin之间的数据
df.loc['Alex':'Calvin']

         id   age gender
Alex    1.0  18.0      M
Bob     2.0  19.0    NaN
Calvin  3.0  20.0      M

In [35]:
# 通过sql语句来选择行
rows="age > 20"
df.query(rows)

         id   age gender
Dick    4.0  21.0      M
Elbert  5.0  22.0      M

## 选择列

In [36]:
# 选择单列
df['id']

Alex      1.0
Bob       2.0
Calvin    3.0
Dick      4.0
Elbert    5.0
Blob      NaN
Name: id, dtype: float64

In [37]:
# 选择多列
cols=['id', 'age']
df[cols]

         id   age
Alex    1.0  18.0
Bob     2.0  19.0
Calvin  3.0  20.0
Dick    4.0  21.0
Elbert  5.0  22.0
Blob    NaN   NaN

## 行列条件叠加

In [38]:
df.loc['Alex', 'age']

18.0

In [39]:
cols=['id', 'age']
rows="age > 20"
df.query(rows)[cols]

         id   age
Dick    4.0  21.0
Elbert  5.0  22.0